<a href="https://colab.research.google.com/github/OheneBoateng/HTM737-OHENE/blob/main/week_6_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
mname = 'John'#defining a variable,quotations means its a string/text

In [12]:
print(mname)#prints name on screen

John

In [13]:
print(mname[0:2])#select first 2 characters, colon stands for until which excludes value after colon

Jo

In [14]:
MCPHS_zip_code='02115-2345'

In [15]:
print(MCPHS_zip_code[0:5])#selects first 5 of zip code

02115

In [16]:
print(MCPHS_zip_code[-1])

5

In [17]:
john_age=65

In [18]:
print(john_age)

65

In [19]:
print(john_age-5)#can use python for mathematical operations

60

In [20]:
2*2

4

In [21]:
john_weight=150.7 #this is float due to decimals

In [22]:
print(int(john_weight))#converts to integer by curring decimal

150

In [23]:
john_weight_int=150

In [24]:
print(float(john_weight_int))

150.0

In [25]:
john_weight_strin=str#converts weight to string

In [26]:
print(john_weight_int/2)

75.0

In [27]:
print(john_weight_strin)/2 #error cause we cannot operate on string/text

<class 'str'>

TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

In [28]:
first_list=['a','1']

In [29]:
print(first_list[0])

a

In [30]:
print(first_list)

['a', '1']

In [31]:
first_tuple=('a',1)

In [32]:
first_tuple[0]

'a'

In [33]:
first_tuple[a]='ab'#cannot change due to tupple

NameError: name 'a' is not defined

In [34]:
first_dict ={'john_age':65,'heather_age':45}

In [35]:
print(first_dict['john_age'])

65

In [36]:
first_set= set(first_list)

In [3]:
list1 = [1, 2, 3]
list2 = [3, 4, 5]

# To find the union of two lists, we can convert them to sets and then use the union operator.
union_list = list(set(list1).union(set(list2)))

print("List 1:", list1)
print("List 2:", list2)
print("Union of the lists:", union_list)

List 1: [1, 2, 3]
List 2: [3, 4, 5]
Union of the lists: [1, 2, 3, 4, 5]

In [37]:
first_set= set(first_list)

In [38]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# To find the union of two sets, you can use the union() method or the | operator.
union_set = set1.union(set2)
# Alternatively, using the | operator: union_set = set1 | set2

print("Set 1:", set1)
print("Set 2:", set2)
print("Union of the sets:", union_set)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Union of the sets: {1, 2, 3, 4, 5}

In [39]:
def f_to_c(temp_f):
  temp_c = (temp_f-32) *5/9
  return temp_c

In [41]:
f_to_c(45)

7.222222222222222

In [42]:
def my_secret_function(h,w):
  bmi=w/h**2
  return bmi

In [43]:
4**2

16

In [44]:
my_secret_function(1.7, 65)

22.49134948096886

In [45]:
def calculate_bmi_category(weight_kg, height_m):
    bmi = weight_kg / (height_m ** 2)

    if bmi < 18.5:
        return f"BMI: {bmi:.1f} - Underweight"
    elif bmi < 25:
        return f"BMI: {bmi:.1f} - Normal weight"
    elif bmi < 30:
        return f"BMI: {bmi:.1f} - Overweight"
    else:
        return f"BMI: {bmi:.1f} - Obese"

In [46]:
calculate_bmi_category(height_m=1.71,weight_kg=80)

'BMI: 27.4 - Overweight'

In [47]:
import pandas as pd