<a href="https://colab.research.google.com/github/OheneBoateng/HTM737-OHENE/blob/main/Week_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/osoliman/Chapter6_HTM737/refs/heads/main/ESRD.csv')

In [ ]:

df.shape

(6825, 153)

In [ ]:

df.shape

(6825, 153)

In [ ]:

df.shape[1]

153

In [ ]:
print('this data set has xyz')

this data set has xyz

In [ ]:

# a little bit more meaningful - let's use the power of Python
print(f'The dataset has {df.shape[0]} rows and {df.shape[1]} columns.')
#see it without the f

The dataset has 6825 rows and 153 columns.

In [ ]:

print(df.columns)

Index(['Facility Name', 'CMS Certification Number (CCN)', 'Alternate CCN 1',
       'Address 1', 'Address 2', 'City', 'State', 'Zip Code', 'Network',
       'VAT Catheter Measure Score',
       ...
       'STrR Improvement Measure Rate/Ratio',
       'STrR Improvement Period Numerator',
       'STrR Improvement Period Denominator', 'STrR Measure Score Applied',
       'National Avg STrR Measure Score', 'Total Performance Score',
       'PY2018 Payment Reduction Percentage', 'CMS Certification Date',
       'Ownership as of December 31, 2016', 'Date of Ownership Record Update'],
      dtype='object', length=153)

In [ ]:
for column in df.columns:
  print(column)

Facility Name
CMS Certification Number (CCN)
Alternate CCN 1
Address 1
Address 2
City
State
Zip Code
Network
VAT Catheter Measure Score
VAT Catheter Achievement Measure Rate/Ratio
Number of Patients Included in VAT Catheter Measure Score Achievement Period
VAT Catheter Achievement Period Numerator
VAT Catheter Achievement Period Denominator
VAT Catheter Improvement Measure Rate/Ratio
VAT Catheter Improvement Period Numerator
VAT Catheter Improvement Period Denominator
VAT Catheter Measure Score Applied
National Avg VAT Catheter Measure Score
VAT Fistula Measure Score
VAT Fistula Achievement Measure Rate/Ratio
Number of Patients Included in VAT Fistula Measure Score Achievement Period
VAT Fistula Achievement Period Numerator
VAT Fistula Achievement Period Denominator
VAT Fistula Improvement Measure Rate/Ratio
VAT Fistula Improvement Period Numerator
VAT Fistula Improvement Period Denominator
VAT Fistula Measure Score Applied
National Avg Fistula Measure Score
Vascular Access Combined Measure Score
National Avg Vascular Access Combined Measure Score
Kt/V Adult Hemodialysis Measure Score
Kt/V Adult Hemodialysis Achievement Measure Rate/Ratio
Number of Patients Included in Kt/V Adult Hemodialysis Measure Score Achievement Period
Kt/V Adult Hemodialysis Achievement Period Numerator
Kt/V Adult Hemodialysis Achievement Period Denominator
Kt/V Adult Hemodialysis Improvement Measure Rate/Ratio
Kt/V Adult Hemodialysis Improvement Period Numerator
Kt/V Adult Hemodialysis Improvement Period Denominator
Kt/V Adult Hemodialysis Measure Score Applied
National Avg Kt/V Adult Hemodialysis Measure Score
Kt/V Adult Peritoneal Dialysis Measure Score
Kt/V Adult Peritoneal Dialysis Achievement Measure Rate/Ratio
Number of Patients Included in Kt/V Adult Peritoneal Dialysis Measure Score Achievement Period
Kt/V Adult Peritoneal Dialysis Achievement Period Numerator
Kt/V Adult Peritoneal Dialysis Achievement Period Denominator
Kt/V Adult Peritoneal Dialysis Improvement Measure Rate/Ratio
Kt/V Adult Peritoneal Dialysis Improvement Period Numerator
Kt/V Adult Peritoneal Dialysis Improvement Period Denominator
Kt/V Adult Peritoneal Dialysis Measure Score Applied
National Avg Kt/V Adult Peritoneal Dialysis Measure Score
Kt/V Pediatric Hemodialysis Measure Score
Kt/V Pediatric Hemodialysis Achievement Measure Rate/Ratio
Number of Patients Included in Kt/V Pediatric Hemodialysis Measure Score Achievement Period
Kt/V Pediatric Hemodialysis Achievement Period Numerator
Kt/V Pediatric Hemodialysis Achievement Period Denominator
Kt/V Pediatric Hemodialysis Improvement Measure Rate/Ratio
Kt/V Pediatric Hemodialysis Improvement Period Numerator
Kt/V Pediatric Hemodialysis Improvement Period Denominator
Kt/V Pediatric Hemodialysis Measure Score Applied
National Avg Kt/V Pediatric Hemodialysis Measure Score
Kt/V Pediatric Peritoneal Dialysis Measure Score
Kt/V Pediatric Peritoneal Dialysis Achievement Measure Rate/Ratio
Number of Patients Included in Kt/V Pediatric Peritoneal Dialysis Measure Score Achievement Period
Kt/V Pediatric Peritoneal Dialysis Achievement Period Numerator
Kt/V Pediatric Peritoneal Dialysis Achievement Period Denominator
Kt/V Pediatric Peritoneal Dialysis Improvement Measure Rate/Ratio
Kt/V Pediatric Peritoneal Dialysis Improvement Period Numerator
Kt/V Pediatric Peritoneal Dialysis Improvement Period Denominator
Kt/V Pediatric Peritoneal Dialysis Measure Score Applied
National Avg Kt/V Pediatric Peritoneal Dialysis Measure Score
Kt/V Dialysis Adequacy Combined Measure Score
National Avg Kt/V Dialysis Adequacy Combined Measure Score
Hypercalcemia Measure Score
Hypercalcemia Achievement Measure Rate/Ratio
Number of Patients Included in Hypercalcemia Measure Score Achievement Period
Hypercalcemia Achievement Period Numerator
Hypercalcemia Achievement Period Denominator
Hypercalcemia Improvement Measure Rate/Ratio
Hypercalcemia Improvement Period Numerator
Hypercalcemia Improvement Period Denominator
Hypercalcemia Measure Score Applied
National Avg Hypercalcemia Measure Score
NHSN BSI Measure Score
NHSN BSI Achievement Measure Rate/Ratio
Number of Patients Eligible for NHSN BSI Measure Score Achievement Period
NHSN BSI Achievement Period Numerator
NHSN BSI Achievement Period Denominator
NHSN BSI Improvement Measure Rate/Ratio
NHSN BSI Improvement Period Numerator
NHSN BSI Improvement Period Denominator
NHSN BSI Measure Score Applied
National Avg NHSN BSI Measure Score
ICH CAHPS Measure Score
National Avg ICH CAHPS Measure Score
ICH CAHPS Count of Completed Surveys
ICH CAHPS Neph Comm and Caring Achievement Rate
ICH CAHPS Neph Comm and Caring Improvement Rate
ICH CAHPS Neph Comm and Caring Measure Score Applied
ICH CAHPS Quality of Dialysis Care and Ops Achievement Rate
ICH CAHPS Quality of Dialysis Care and Ops Improvement Rate
ICH CAHPS Quality of Dialysis Care and Ops Measure Score Applied
ICH CAHPS Providing Info to Patients Achievement Rate
ICH CAHPS Providing Info to Patients Improvement Rate
ICH CAHPS Providing Info to Patients Measure Score Applied
ICH CAHPS Overall Rating of Neph Achievement Rate
ICH CAHPS Overall Rating of Neph Improvement Rate
ICH CAHPS Overall Rating of Neph Measure Score Applied
ICH CAHPS Overall Rating of Dialysis Staff Achievement Rate
ICH CAHPS Overall Rating of Dialysis Staff Improvement Rate
ICH CAHPS Overall Rating of Dialysis Staff Measure Score Applied
ICH CAHPS Overall Rating of Dialysis Facility Achievement Rate
ICH CAHPS Overall Rating of Dialysis Facility Improvement Rate
ICH CAHPS Overall Rating of Dialysis Facility Measure Score Applied
Mineral Metabolism Measure Score
Number of Patients Included in Mineral Metabolism Measure Score Achievement Period
National Avg Mineral Metabolism Measure Score
Anemia Management Measure Score
Number of Patients Included in Anemia Management Measure Score Achievement Period
National Avg Anemia Management Measure Score
Clinical Depression Screening and Follow-up Measure Score
Number of Patients Included in Clinical Depression Screening and Follow-up Measure Score Achievement Period
National Avg Clinical Depression Screening and Follow-up Measure Score
NHSN Influenza Measure Score
National Avg NHSN Influenza Measure Score
Pain Assessment and Follow-up Measure Score
Number of Patients Included in Pain Assessment and Follow-up Measure Score Achievement Period
National Avg Pain Assessment and Follow-up Measure Score
SRR Measure Score
SRR Achievement Measure Rate/Ratio
SRR Index Discharges included in Achievement Period
SRR Achievement Period Numerator
SRR Achievement Period Denominator
SRR Improvement Measure Rate/Ratio
SRR Improvement Period Numerator
SRR Improvement Period Denominator
SRR Measure Score Applied
National Avg SRR Measure Score
STrR Measure Score
STrR Achievement Measure Rate/Ratio
STrR Patient-Years at Risk
STrR Achievement Period Numerator
STrR Achievement Period Denominator
STrR Improvement Measure Rate/Ratio
STrR Improvement Period Numerator
STrR Improvement Period Denominator
STrR Measure Score Applied
National Avg STrR Measure Score
Total Performance Score
PY2018 Payment Reduction Percentage
CMS Certification Date
Ownership as of December 31, 2016
Date of Ownership Record Update

In [ ]:
#search for columns with a specific word #search for specific word
search_word = 'state'
for column in df.columns:
    if search_word in column.lower():
        print(column)
#try it with words like "measure", "state"

State

In [ ]:
search_word ='HI'
print(search_word.lower())

hi

In [ ]:
df.head() #see top 5 on table

,Facility Name,CMS Certification Number (CCN),Alternate CCN 1,Address 1,Address 2,City,State,Zip Code,Network,VAT Catheter Measure Score,...,STrR Improvement Measure Rate/Ratio,STrR Improvement Period Numerator,STrR Improvement Period Denominator,STrR Measure Score Applied,National Avg STrR Measure Score,Total Performance Score,PY2018 Payment Reduction Percentage,CMS Certification Date,"Ownership as of December 31, 2016",Date of Ownership Record Update
0,CHILDRENS HOSPITAL DIALYSIS,12306,013300,1600 7TH AVENUE SOUTH,-,BIRMINGHAM,AL,35233,8,No Score,...,No Ratio,NaN,NaN,NaN,5,70,No Reduction,11/17/1982,NOT A CHAIN,3/6/2012
1,FMC CAPITOL CITY,12500,-,255 S JACKSON STREET,-,MONTGOMERY,AL,36104,8,5,...,0.943,20.0,21.203,Achievement,5,64,No Reduction,9/1/1976,FRESENIUS MEDICAL CARE,3/6/2012
2,GADSDEN DIALYSIS,12501,-,409 SOUTH FIRST STREET,-,GADSDEN,AL,35901,8,5,...,1.283,18.0,14.032,Achievement,5,49,No Reduction,9/1/1976,DAVITA,11/18/2009
3,TUSCALOOSA UNIVERSITY DIALYSIS,12502,-,220 15TH STREET,-,TUSCALOOSA,AL,35401,8,7,...,0.993,23.0,23.161,Achievement,5,54,No Reduction,10/21/1977,DAVITA,11/17/2009
4,PCD MONTGOMERY,12505,-,1001 FOREST AVENUE,-,MONTGOMERY,AL,36106,8,7,...,0.433,9.0,20.801,Achievement,5,71,No Reduction,12/14/1977,DAVITA,3/16/2012

In [ ]:
df_states = df.groupby ('State').size().sort_values(ascending=False).head(10) #groups by sate and size while sorting in descending order
print(df_states)

State
CA    625
TX    605
FL    433
GA    345
OH    314
IL    299
PA    294
NY    274
NC    211
MI    211
dtype: int64

In [ ]:
df_ca = df[df['State'] == 'CA']
print(df_ca)

                                        Facility Name  \
368              SANTA CLARA VALLEY RENAL CARE CENTER
369                 CHILDRENS HOSPITAL OF LOS ANGELES
370   KAISER FOUNDATION HOSPITAL MEDICAL CTR.- SUNSET
371                 ARROWHEAD REGIONAL MEDICAL CENTER
372              LOMA LINDA UNIVERSITY MEDICAL CENTER
...                                               ...
6398                           DAVITA-AVALON DIALYSIS
6399                      KERMAN DIALYSIS CENTER, LLC
6400                       FMC-SOUTH BAY HOME THERAPY
6401                      DAVITA-BEVERLYWOOD DIALYSIS
6402                        DAVITA-EL DORADO DIALYSIS

      CMS Certification Number (CCN) Alternate CCN 1  \
368                            52305          050038
369                            52321          053302
370                            52323          050138
371                            52334          050245
372                            52342          050327
...                              ...             ...
6398                          552793               -
6399                          552797               -
6400                          552799               -
6401                          552800               -
6402                          552801               -

                                              Address 1 Address 2  \
368                                2220 MOORPARK AVENUE         -
369   DIVISION OF NEPHROLOGY (DIALYSIS) 4650 SUNSET ...         -
370          DIALYSIS UNIT 4700 SUNSET BLVD., 2ND FLOOR         -
371                                400 N. PEPPER AVENUE         -
372     CHILDRENS HOSPITAL 11234 ANDERSON ST., RM. 2812         -
...                                                 ...       ...
6398                               5807 S. AVALON BLVD.         -
6399                      14945 WEST WHITEBRIDGE AVENUE         -
6400                         1223 PACIFIC COAST HIGHWAY         -
6401                  2080 CENTURY PARK EAST, SUITE 210         -
6402                                2977 REDONDO AVENUE         -

             City State  Zip Code  Network VAT Catheter Measure Score  ...  \
368      SAN JOSE    CA     95128       17                          0  ...
369   LOS ANGELES    CA     90027       18                   No Score  ...
370   LOS ANGELES    CA     90027       18                   No Score  ...
371        COLTON    CA     92324       18                          8  ...
372    LOMA LINDA    CA     92354       18                   No Score  ...
...           ...   ...       ...      ...                        ...  ...
6398  LOS ANGELES    CA     90011       18                   No Score  ...
6399       KERMAN    CA     93630       17                   No Score  ...
6400  HARBOR CITY    CA     90710       18                   No Score  ...
6401  LOS ANGELES    CA     90067       18                   No Score  ...
6402   LONG BEACH    CA     90806       18                   No Score  ...

     STrR Improvement Measure Rate/Ratio STrR Improvement Period Numerator  \
368                                0.802                              36.0
369                             No Ratio                               NaN
370                                2.202                              20.0
371                             No Ratio                               NaN
372                             No Ratio                               NaN
...                                  ...                               ...
6398                            No Ratio                               NaN
6399                            No Ratio                               NaN
6400                            No Ratio                               NaN
6401                            No Ratio                               NaN
6402                            No Ratio                               NaN

      STrR Improvement Period Denominator  STrR Measure Score Applied  \
368                                44.872                 Achievement
369                                   NaN                         NaN
370                                 9.082                 Achievement
371                                   NaN                         NaN
372                                   NaN                         NaN
...                                   ...                         ...
6398                                  NaN                         NaN
6399                                  NaN                         NaN
6400                                  NaN                         NaN
6401                                  NaN                         NaN
6402                                  NaN                         NaN

     National Avg STrR Measure Score  Total Performance Score  \
368                                5                       59
369                                5                       39
370                                5                       32
371                                5                       79
372                                5                       19
...                              ...                      ...
6398                               5                 No Score
6399                               5                 No Score
6400                               5                 No Score
6401                               5                 No Score
6402                               5                 No Score

      PY2018 Payment Reduction Percentage CMS Certification Date  \
368                          No Reduction              8/22/1977
369                                 0.50%              7/28/1977
370                                 1.00%              7/25/1977
371                          No Reduction              4/28/2006
372                                 1.50%              8/11/1977
...                                   ...                    ...
6398                         No Reduction              7/11/2016
6399                         No Reduction              9/30/2016
6400                         No Reduction             10/18/2016
6401                         No Reduction             10/26/2016
6402                         No Reduction              9/19/2016

      Ownership as of December 31, 2016 Date of Ownership Record Update
368                         NOT A CHAIN                       9/19/2001
369                         NOT A CHAIN                       1/11/2016
370                         NOT A CHAIN                       5/20/1999
371                         NOT A CHAIN                        5/2/2016
372                         NOT A CHAIN                        6/4/1999
...                                 ...                             ...
6398                             DAVITA                       1/12/2017
6399          AMERICAN RENAL ASSOCIATES                        2/8/2017
6400             FRESENIUS MEDICAL CARE                       3/30/2017
6401                             DAVITA                       4/18/2017
6402                             DAVITA                       4/18/2017

[625 rows x 153 columns]

In [ ]:
#Q2: Total performance score analysis

In [ ]:
df.groupby('State')['Total Performance Score'].mean().sort_values(ascending=False).head(10)

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
df['Total Performance Score'].unique()

array(['70', '64', '49', '54', '71', '60', '61', '59', '68', '75', '65',
       '77', '62', '67', '76', '57', '55', '52', '63', '88', '56', '53',
       '79', '48', '74', '73', '46', '72', '47', '69', '85', '39', '66',
       '81', '42', '51', '50', '82', '35', '58', '43', '38', '94', '25',
       '37', '32', '78', 'No Score', '97', '45', '84', '93', '95', '90',
       '91', '40', '83', '100', '87', '10', '80', '86', '89', '44', '30',
       '24', '36', '19', '33', '27', '28', '12', '92', '11', '7', '22',
       '96', '41', '34', '29', '99', '31', '26', '14', '23', '98', '20',
       '21', '9', '17', '8', '18', '5', '13', '15'], dtype=object)

In [ ]:

df['Total Performance Score'].dtype

dtype('O')

In [ ]:
df_filt = df[df['Total Performance Score'] != 'No Score']

In [ ]:
df_filt['Total Performance Score'].unique()# takes out no score

array(['70', '64', '49', '54', '71', '60', '61', '59', '68', '75', '65',
       '77', '62', '67', '76', '57', '55', '52', '63', '88', '56', '53',
       '79', '48', '74', '73', '46', '72', '47', '69', '85', '39', '66',
       '81', '42', '51', '50', '82', '35', '58', '43', '38', '94', '25',
       '37', '32', '78', '97', '45', '84', '93', '95', '90', '91', '40',
       '83', '100', '87', '10', '80', '86', '89', '44', '30', '24', '36',
       '19', '33', '27', '28', '12', '92', '11', '7', '22', '96', '41',
       '34', '29', '99', '31', '26', '14', '23', '98', '20', '21', '9',
       '17', '8', '18', '5', '13', '15'], dtype=object)

In [ ]:
df_filt['Total Performance Score'] = df_filt['Total Performance Score'].astype(int)

/tmp/ipython-input-564669744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filt['Total Performance Score'] = df_filt['Total Performance Score'].astype(int)

In [ ]:

df_filt = df_filt.copy()
df_filt['Total Performance Score'] = df_filt['Total Performance Score'].astype(int)

In [ ]:
df_filt['Total Performance Score'].unique()# gets rid of quotation marks

array([ 70,  64,  49,  54,  71,  60,  61,  59,  68,  75,  65,  77,  62,
        67,  76,  57,  55,  52,  63,  88,  56,  53,  79,  48,  74,  73,
        46,  72,  47,  69,  85,  39,  66,  81,  42,  51,  50,  82,  35,
        58,  43,  38,  94,  25,  37,  32,  78,  97,  45,  84,  93,  95,
        90,  91,  40,  83, 100,  87,  10,  80,  86,  89,  44,  30,  24,
        36,  19,  33,  27,  28,  12,  92,  11,   7,  22,  96,  41,  34,
        29,  99,  31,  26,  14,  23,  98,  20,  21,   9,  17,   8,  18,
         5,  13,  15])

In [ ]:

df_filt['Total Performance Score'].dtype

dtype('int64')

In [ ]:
df_filt.groupby('State')['Total Performance Score'].mean().sort_values(ascending=False).head(10)

State
ID    73.178571
WY    71.777778
HI    70.500000
UT    70.421053
CO    70.173333
WA    70.146067
ME    70.058824
OR    70.046154
KS    69.480769
AZ    68.905983
Name: Total Performance Score, dtype: float64